#container {
    display: flex;
    justify-content: center;
    position: relative;
}

.center {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }