#container {
    position: relative;
    font-family: sans-serif;
    margin: auto;

}

.header {
    justify-content: space-around;
}


.topleft {
    display: flex;
    position: absolute;
    top: 8px;
    left: 150px;
}

.topright {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../images/Bg\ Shape@2x.png);
    width: 600px;
    height: 480px;
    display: flex;
    justify-content: center;

}

.topright a {
    text-decoration: none;
    padding: 20px 15px;
    color: white;

}

.topright a:hover {
    text-decoration: underline;
    color: aqua;
}

.topmid {
    position: relative;
    right: 0px;
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 250px;
    gap: 30px;
}

.midtext {
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 150px;
}

.midtext h4 {
    display: flex;
    position: absolute;
    top: 215px;
    left: 15px;
    font-size: medium;
}

.midtext h4 a {
    color: white;
    text-decoration: none;
}

.midtext h4 a:hover {
    color: aqua;
    text-decoration: underline;
}

.right {
    position: absolute;
    left: 900px;
    top: 100px;
}

.mouse {
    position: absolute;
    top: 600px;
    left: 750px;
}

#secondpage {
    position: relative;
    top: 700px;
}

.biopic {
    position: absolute;
    left: 150px;

}

.biotext {
    position: absolute;
    right: 150px;
    font-size: 20px;
}

.biotext h3 {
    color: blueviolet;
}

.biotext h4 {
    position: absolute;
    top: 365px;
    left: 60px;
}

.biotext h4 a {
    color: white;
    text-decoration: none;
}

.biotext h4 a:hover {
    color: aqua;
    text-decoration: underline;
}

#thirdpage {
    position: relative;
    top:1300px;
}

.toptext {
    position: absolute;
    left: 150px;
}

.toptext h4 {
    color: blueviolet;
}

.toptext h2 {
    font-weight: bold;
}

.topboxes {
    display: flex;
    position: relative;
    top: 150px;
    justify-content: space-around;
}

.topboxes a {
    text-decoration: none;
    color: white;
}

.topboxes a:hover {
    color: aqua;
    text-decoration: underline;
}

.box1 h3 {
    position: absolute;
    top: 325px;
    left: 120px;
}

.box2 h3 {
    position: absolute;
    top: 345px;
    left: 620px;
}

.box3 h3 {
    position: absolute;
    top: 330px;
    left: 1130px;
}

.box1 {
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box2 {
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box3 {
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.btmboxes {
    display: flex;
    position: relative;
    top: 200px;
    justify-content: space-around;
}

.btmboxes a {
    color: white;
    text-decoration: none;
}

.btmboxes a:hover {
    color: aqua;
    text-decoration: underline;
}

.box4 h3 {
    position: absolute;
    top: 310px;
    left: 120px;
}

.box5 h3 {
    position: absolute;
    top: 350px;
    left: 610px;
}

.box6 h3 {
    position: absolute;
    top: 320px;
    left: 1120px;
}

.box4 {
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box5 {
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box6 {
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

#fourthpage {
    position: relative;
    top: 1600px;
    background-color: #D7BDE2;
}

.top {
    padding: 10px;
    text-align: center;
}

.top h5 {
    color: blueviolet;
}

.mid {
    display: flex;
    justify-content: space-around;
}

.column1 {
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.column1 h1 {
    color: blue;
    margin: 50px;
    font-size: 50px;
}

.column1 h2 {
    margin: 50px;
}

.column2 {
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.column2 h1 {
    color: blue;
    margin: 50px;
    font-size: 50px;
}

.column2 h2 {
    margin: 50px;
}

.column3 {
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.column3 h1 {
    color: blue;
    margin: 50px;
    font-size: 50px;
}

.column3 h2 {
    margin: 50px;
}

.column1 h3 {
    border-style: solid;
    border-radius: 50px;
}

.column2 h3 {
    position: absolute;
    top: 465px;
    left: 700px;
    color: white;
}

.column3 h3 {
    border-style: solid;
    border-radius: 50px;
}

#fifthpage {
    position: relative;
    top: 1700px;
}

.toppart {
    text-align: center;
}

.toppart h4 {
    color: blueviolet;
}

.toppart h2 {
    font-weight: 400;
}

.btmpart {
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-around;
    background-image: url(../images/footer.png);
    background-position: bottom; 
    color: white;
}
