#container {
    font-family: sans-serif;
    background-image: url(../images/Bg\ Shape@2x.png),url(../images/footer.jpeg);
    background-position: top right,bottom;
    background-size: 40%,100%;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-around;
}

.topright {
    padding: 30px 15px;
}

.topright a {
    text-decoration: none;
    padding: 15px;
    color: white;

}

.topright a:hover {
    text-decoration: underline;
    color: aqua;
}

.topleft {
    display: flex;
}

.topmid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.midtext {
    font-size: 20px;
    width: 40%;
}

.mouse {
    display: flex;
    justify-content: center;
}

#secondpage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(../images/who\ we\ are\ background@2x.png);
}

.button {
    background-image: linear-gradient(to right,#000081,#5050DB);
    border-radius: 25px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    text-decoration: none;
    color: white;
}

.button a:hover {
    color: aqua;
}

.button2 {
    border-style: solid;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 a {
    text-decoration: none;
}

.button2 a:hover {
    color: aqua;
}

#thirdpage {
    background-image: url(../images/background@2x.png);
}

.toptext {
    margin-left: 100px;
}

.topboxes {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.btmboxes {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.box1 {
    padding: 20px;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box2 {
    padding: 20px;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box3 {
    padding: 20px;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box4 {
    padding: 20px;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box5 {
    padding: 20px;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.box6 {
    padding: 20px;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

h3 {
    color: blueviolet;
}

#fourthpage {
    background-color: #D7BDE2;
}

.top {
    padding: 10px;
    text-align: center;
}

.mid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column1 {
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.column1 h1 {
    color: blue;
    margin: 50px;
    font-size: 50px;
}

.column2 {
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.column2 h1 {
    color: blue;
    margin: 50px;
    font-size: 50px;
}

.column3 {
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.column3 h1 {
    color: blue;
    margin: 50px;
    font-size: 50px;
}

#fifthpage {
    margin-top: 50px;
}

.toppart {
    text-align: center;
}

.btmpart {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
}


@media screen and (max-width: 700px) {
    .topright a {
        color: black;
    }

    .icon {
        flex-direction: row;
    }

    .midtext {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .biopic {
        width: 100%;
    }

    .biotext {
        width: 100%;
    }

    .box1 {
        margin: 10px;
    }

    .box2 {
        margin: 10px;
    }

    .box3 {
        margin: 10px;
    }

    .box4 {
        margin: 10px;
    }

    .box5 {
        margin: 10px;
    }

    .box6 {
        margin: 10px;
    }

    .column1 {
        width: 100%;
        margin: 10px;
    }

    .column2 {
        width: 100%;
        margin: 10px;
    }

    .column3 {
        width: 100%;
        margin: 10px;
    }

    .btmpart {
        color: burlywood;
    }
}

