#container {
    font-family: sans-serif;
}

#firstsection {
    margin-bottom: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.topnav a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black
}

.topnav a:hover {
    text-decoration: underline;
    color: blue;
}

.topcontent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.leftintro h1 {
    font-size: 57px;
    font-weight: 400
}

.leftintro p {
    font-weight: lighter;
    font-size: 25px;
    color: gray;
}

.aboutuni {
    text-align: center;
}

.aboutuni {
    color: red;
}

.unimidsection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.uniicons {
    display: flex;
    justify-content: space-around;
}

.icontext {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.unitext h1 {
    font-weight: lighter;
    color: grey;
}

#secondsection {
    margin-bottom: 100px;
}

.topsabah {
    text-align: center;
    margin-bottom: 50px;
}

.topsabah h1 {
    color: red;
}

.topsabah h2 {
    color: gray;
    font-weight: lighter;
}

.midsabah {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    border-style: solid;
    border-color: aqua;
    border-width: 5px;
    font-size: 20px;
    color: gray;
}

#thirdsection {
    margin-bottom: 50px;
}

.footer {
    display:flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: #475F45;
}

.content {
    display: flex;
    flex-direction: column;
}

.content a {
    color: white;
    text-decoration: none;
}

.content a:hover {
    color: aqua;
}

.contacts a {
    color: white;
    text-decoration: none;
}

.contacts a:hover {
    color: aqua;
}

.copyright {
    text-align: center;
    color: white;
    padding: 30px;
    background-color: #343D33;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #475F45;
    background-color: #475F45;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: aqua;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .rightintro img {
        width: 350px;
        height: 435px;
    }

    .content{
        display: none;
    }
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}