#container {
    position: relative;
}

.topnav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.nav {
    display: flex;
}

.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
}

.center {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    border-style: dashed;
    border-color: white;
}
